body{
	width: 320px;
	font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
}

p{
	font-size: 22px;
}

input{
	font-size: 22px;
	width: 320px;
	height: 80px;
}